<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sf.riderhelper"
    android:versionCode="99"
    android:versionName="9.9.9">
    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="31" />
    <application android:label="顺丰抢单助手">
        <activity android:name=".SplashActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:exported="false" />
    </application>
</manifest>